body{
  background-color: teal;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App ul li{
  list-style-type: none;
  display: inline-block;
  margin: 10px 20px;
}

.App ul li a {
  color: #fff !important;
  text-decoration: none !important;
}

.active-link {
  border-bottom: 2px solid #fff !important;
}

.home, .about, .contact {
  background-color: #fff;
  width: 500px;
  margin: 0 auto;
  height: 500px;
  padding: 10px;
  box-shadow: 10px 0 black;
}
